@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
.header {
  position: relative;
  width: 100%;
  min-height: 10vh;
  padding: 10px;
}

.nav {
  display: flex;
  justify-content: space-between;
}
.nav__logo {
  width: 100px;
  height: 50px;
}
.nav__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 10vh;
  right: 0;
  min-height: 90vh;
  width: 100%;
  text-align: center;
  transition: 0.5s;
  list-style-type: none;
  background-color: hsl(268deg, 33%, 45%);
  transform: translate(150%);
  z-index: 999;
}
@media (min-width: 600px) {
  .nav__menu {
    width: 45%;
    background-color: hsla(268deg, 33%, 45%, 0.609);
  }
}
@media (min-width: 992px) {
  .nav__menu {
    position: static;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 0;
    background-color: transparent;
    opacity: 1;
  }
}
.nav__menu--active {
  transform: translate(0);
}
.nav__menu-item a {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}
.nav__menu-item a::after {
  content: "";
  position: absolute;
  width: 0%;
  background-color: hsla(267deg, 22%, 90%, 0.801);
  height: 3px;
  bottom: 0;
  left: 0;
  border-radius: 20px;
  transition: width 0.3s ease-in-out;
}
@media (min-width: 600px) {
  .nav__menu-item a::after {
    background-color: hsla(267deg, 22%, 90%, 0.801);
  }
}
@media (min-width: 992px) {
  .nav__menu-item a::after {
    background-color: #5f57d3;
  }
}
.nav__menu-item a:hover, .nav__menu-item a:hover::after {
  width: 100%;
  color: #f4b345;
}
.nav__options {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.nav__options-language {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: 700;
  cursor: pointer;
}
.nav__options-language:hover {
  color: hsla(267deg, 22%, 90%, 0.801);
  border: 1px solid hsla(267deg, 22%, 90%, 0.801);
}
@media (min-width: 992px) {
  .nav__options {
    justify-content: flex-end;
    width: 10%;
  }
}
.nav__options-burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.1s;
}
@media (min-width: 992px) {
  .nav__options-burger {
    display: none;
  }
}
.nav__options-burger-bar {
  margin: 3px;
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  border-radius: 10px;
  align-items: center;
}
.nav__options-burger--active .nav__options-burger-bar:first-child {
  transform: translateY(-300px);
}
.nav__options-burger--active .nav__options-burger-bar:nth-child(2) {
  transform: rotate(-405deg) translateY(5px);
}
.nav__options-burger--active .nav__options-burger-bar:nth-child(3) {
  transform: rotate(-320deg) translateY(-7px);
  margin-bottom: 15px;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 10px;
}
.main .description__text {
  font-size: 1.8rem;
  text-align: center;
}
.main .description__text-color {
  color: #f4b345;
  font-weight: 700;
  text-transform: uppercase;
}
.main .sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 100%;
  gap: 20px;
}
.main .sign-up__info {
  width: 100%;
  text-align: center;
  color: inherit;
  text-decoration: none;
  font-size: 1.5rem;
}
.main .sign-up__info--gift {
  color: #f4b345;
}
.main .sign-up__register-button {
  padding: 15px;
  width: 100%;
  background-color: #f4b345;
  border: none;
  font-size: 1rem;
  font-weight: 700;
}
.main .sign-up__register-button:hover {
  background-color: #f6c164;
}
.main .sign-up__choice {
  position: relative;
  color: #a9a9a9;
}
.main .sign-up__choice::before {
  content: "";
  display: block;
  position: absolute;
  top: 52%;
  right: 105%;
  width: 100%;
  height: 1px;
  background-color: #a9a9a9;
}
.main .sign-up__choice::after {
  content: "";
  display: block;
  position: absolute;
  top: 52%;
  left: 105%;
  width: 100%;
  height: 1px;
  background-color: #a9a9a9;
}
.main .sign-up__brands {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.main .sign-up__brands-button {
  padding: 10px;
  min-width: 80px;
  background-color: #a9a9a9;
  border: none;
}
.main .sign-up__brands-button:hover {
  background-color: #c6c5c5;
}
.main .crypto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  gap: 10px;
}
.main .crypto__currency {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

body {
  height: 100vh;
  background-image: url("/images/background.png");
  background-position: contain;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
