.header {
    position: relative;
    width: 100%;
    min-height: 10vh;
    padding: 10px;
}

.nav {
    display: flex;
    justify-content: space-between;

    &__logo {
        width: 100px;
        height: 50px;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        top: 10vh;
        right: 0;
        min-height: 90vh;
        width: 100%;
        text-align: center;
        transition: .5s;
        list-style-type: none;
        background-color: hsla(268, 33%, 45%, 0.742);
        opacity: 0;

        @media (min-width: 600px) {
            width: 45%;
            }

        @media (min-width: 992px) {
            position: static;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            min-height: 0;
            background-color: transparent;
            opacity: 1;
        }

        &--active {
            opacity: 1;
        }

        &-item {
            a {
                position: relative;
                text-decoration: none;
                color: #fff;
                font-weight: 600;
                text-transform: uppercase;

                &::after {
                    content: '';
                    position: absolute;
                    width: 0%;
                    background-color: hsla(267, 22%, 90%, 0.801);
                    height: 3px;
                    bottom: 0;
                    left: 0;
                    border-radius: 20px;
                    transition: width .3s ease-in-out;
                    @media (min-width: 600px) {
                        background-color: hsla(267, 22%, 90%, 0.801);
                    }
                    @media (min-width: 992px) {
                        background-color: #5f57d3;
                    }

                }
                &:hover,
                &:hover::after {
                    width: 100%;
                    color: #f4b345;
                }
            }
        }
    }
    &__options {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        gap: 10px;
        &-language {
            color: #fff;
            background-color: transparent;
            border: 2px solid #fff;
            border-radius: 20px;
            padding: 10px 20px;
            outline: none;
            font-weight: 700;
            cursor: pointer;
            &:hover {
                color:hsla(267, 22%, 90%, 0.801);
                border: 1px solid hsla(267, 22%, 90%, 0.801);
            }
        }
        @media (min-width: 600px) {

        }
        @media (min-width: 992px) {
            justify-content: flex-end;
            width: 10%;
        }
        &-burger {
            display: flex;
            flex-direction: column;
            background-color: transparent;
            outline: none;
            border: none;
            cursor: pointer;
            &-bar {
                margin: 5px;
                width: 30px;
                height: 3px;
                background-color: #ffffff;
                border-radius: 10px;
            }
            @media (min-width: 992px) {
                display: none;
            }
        }
    }
}